name: Build and Push Dev

on:
  pull_request:
    branches:
      - main
    types: [opened, synchronize]

jobs:
  buildanddeploy:
    name: Docker Build and Push
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        # Build
      - name: Docker Login
        run: docker login -u ${{ secrets.DOCKER_USER }} -p ${{ secrets.DOCKER_PASSWORD }}
      - name: Docker Build
        run: docker build -f Dockerfile -t deployboard/deployboard:dev .
      - name: Docker Push
        run: docker push deployboard/deployboard:dev
