name: Deploy Docs

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: 3.x
      - name: Install
        working-directory: ./apps/docs
        run: pip install mkdocs-material
      - name: Deploy
        working-directory: ./apps/docs
        run: mkdocs gh-deploy --force
