name: Build and Push Prod

on:
  push:
    branches:
      - main

jobs:
  buildanddeploy:
    name: Docker Build and Push
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        # Build
      - name: Docker Login
        run: docker login -u ${{ secrets.DOCKER_USER }} -p ${{ secrets.DOCKER_PASSWORD }}
      - name: Docker Build
        run: docker build -f Dockerfile -t deployboard/deployboard:latest .
      - name: Docker Push
        run: docker push deployboard/deployboard:latest
